/* $border: $overlay1; */
/* $layer1: $surface0; */
/* // searchbar */
/* $layer2: $surface1; */
/* $layer3: $base; */
/* $subtext1: $subtext1; */
/* $subtext0: $subtext0; */
/* $text: $text; */
/* $bg: $surface0; */
/* $bg1: $surface1; */
/* $bg2: $surface2; */
/* $bg2: #00323f; */
/* $bg1: #094352 */
/* $bg: #083c4a */
* {
  border-color: #7f849c !important;
}

a {
  color: #89b4fa !important;
}

a:visited {
  color: #b4befe !important;
}

body {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

html {
  background-color: #1e1e2e !important;
}

input,
textarea:not(.react-blob-textarea) {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

blockquote,
pre {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

.post-actions {
  background-color: #181825 !important;
}

.textarea-wrapper {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

.search--adv {
  background-color: #181825 !important;
}

.search__autocomplete > .acp-wrap {
  background-color: #1e1e2e !important;
}

.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #181825 !important;
  color: #a6adc8 !important;
}

.search__autocomplete > .acp-wrap strong {
  color: #a6adc8 !important;
}

.site-wrapper > #header_wrapper {
  background-color: #1e1e2e !important;
}

.site-wrapper > #header_wrapper > #header {
  background-color: #1e1e2e !important;
}

.search--header {
  background-color: #181825 !important;
}

.zci {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

.tile--info {
  background-color: #1e1e2e !important;
}

.tile--info__expand {
  background-color: #6c7086 !important;
}

.tile--c {
  background-color: #6c7086 !important;
  color: #a6adc8 !important;
}

.module__text {
  color: #1e1e2e !important;
}

.about-info-box__heading {
  color: #bac2de !important;
}

.result.highlight {
  background-color: #181825 !important;
}

.result__snippet {
  color: #1e1e2e !important;
}

.result__snippet b {
  color: #bac2de !important;
}

.btn--top {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

.btn--top:hover {
  background-color: #6c7086 !important;
}

.result--sep--hr:before {
  background-color: #6c7086 !important;
}

* {
  border-color: #181825 !important;
}

.news .alert .pull-info {
  background-color: #313244 !important;
}

.link-gray-dark,
.text-gray-dark {
  color: #1e1e2e !important;
}

.bg-white {
  background-color: #1e1e2e !important;
}

.border {
  border-color: #7f849c !important;
}

.breadcrumb .repo-root.js-repo-root a {
  color: #89b4fa !important;
}

.breadcrumb strong.final-path {
  color: #1e1e2e !important;
}

button.ajax-pagination-btn {
  background-color: #181825 !important;
  color: #bac2de !important;
}

button.ajax-pagination-btn:hover {
  background-color: #6c7086 !important;
}

.comment-reactions .btn-link {
  color: #1e1e2e !important;
}

.comment-reactions .user-has-reacted {
  background-color: #181825 !important;
}

.text-gray-dark {
  color: #1e1e2e !important;
}

.contrib-number {
  color: #bac2de !important;
}

.counter {
  background-color: #585b70 !important;
  color: #bac2de !important;
}

.diffstat-bar {
  color: #1e1e2e !important;
}

.file-header {
  background-color: #181825 !important;
}

.file-history-tease .participation {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

.file-history-tease .participation .quickstat strong {
  color: #1e1e2e !important;
}

.file-history-tease .participation a {
  color: #6c7086 !important;
}

.file-history-tease .author a {
  color: #1e1e2e !important;
}

.file-history-tease-header {
  background-color: #181825 !important;
}

.file-info-divider {
  background-color: #6c7086 !important;
}

.file-wrap {
  color: #1e1e2e !important;
}

.file-wrap * {
  background-color: transparent !important;
}

.filter-bar {
  background-color: #313244 !important;
}

a.filter-item,
.filter-item {
  color: #1e1e2e !important;
}

a.filter-item.selected,
.filter-item.selected {
  background-color: #181825 !important;
  color: #bac2de !important;
}

a.filter-item:hover,
.filter-item:hover {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.flash {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.gh-header {
  background-color: #1e1e2e !important;
}

.gh-header-number {
  color: #6c7086 !important;
}

.ellipsis-expander,
.hidden-text-expander a {
  background-color: #181825 !important;
}

.issue-meta {
  color: #6c7086 !important;
}

.issues-listing a {
  color: #1e1e2e !important;
}

.muted-link {
  color: #1e1e2e !important;
}

.new-user-avatar-cta {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
  color: #bac2de !important;
}

.overall-summary {
  border-color: #6c7086 !important;
}

.pinned-repo-item.border {
  border-color: #6c7086 !important;
}

.progress-bar {
  background-color: #6c7086 !important;
}

.simple-box {
  background-color: #181825 !important;
}

.social-count {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
  color: #bac2de !important;
}

.scope-badge {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.stats-switcher-wrapper {
  background-color: #1e1e2e !important;
}

.stats-switcher-wrapper .numbers-summary li a {
  color: #1e1e2e !important;
}

.table-list-header-toggle .btn-link {
  color: #6c7086 !important;
}

.table-list-header-toggle .btn-link.selected {
  color: #1e1e2e !important;
}

.text-emphasized {
  color: #bac2de !important;
}

.text-diff-added {
  color: #a6e3a1 !important;
}

.text-diff-deleted {
  color: #f38ba8 !important;
}

.avatar,
.timeline-comment-avatar {
  filter: opacity(75%);
}

.blob-code {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

.blob-code-addition {
  background-color: rgba(232, 255, 77, 0.1) !important;
}

.blob-code-addition .x {
  background-color: #647300 !important;
  color: #c1cacb !important;
}

.blob-code-deletion {
  background-color: rgba(220, 50, 47, 0.2) !important;
}

.blob-code-deletion .x {
  background-color: #721513 !important;
  color: #c1cacb !important;
}

.blob-code-hunk {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
}

.blob-code-inner {
  color: #1e1e2e !important;
}

.blob-num {
  background-color: #1e1e2e !important;
  color: #6c7086 !important;
}

.file {
  color: #1e1e2e !important;
}

.form-control {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
}

.pl-c {
  color: #6c7086 !important;
}

.pl-c1 {
  color: #89b4fa !important;
}

.pl-e {
  color: #f9e2af !important;
}

.pl-en {
  color: #89b4fa !important;
}

.pl-k {
  color: #a6e3a1 !important;
  font-weight: bold !important;
}

.pl-pds {
  color: #89dceb !important;
}

.pl-s {
  color: #89dceb !important;
}

.pl-smi {
  color: #1e1e2e !important;
}

.pl-v {
  color: #a6e3a1 !important;
  font-weight: bold !important;
}

.pl-mi1 {
  color: #a6e3a1 !important;
  background-color: transparent !important;
}

.pl-md {
  color: #f38ba8 !important;
  background-color: transparent !important;
}

.border-bottom,
.border-top {
  border-color: #181825 !important;
}

.boxed-group * {
  border-color: #6c7086 !important;
}

.boxed-group article {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

.boxed-group > h3 {
  background-color: #585b70 !important;
  color: #bac2de !important;
}

.more-repos {
  background-color: #585b70 !important;
  box-shadow: inset 0 1px 0 #6c7086 !important;
}

.boxed-group-inner {
  background-color: #1e1e2e !important;
}

.branch-action-body {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
}

.branch-action-body div {
  border-color: #6c7086 !important;
}

.branch-action-state-clean .branch-action-icon {
  background-color: #a6e3a1 !important;
}

.branch-action-state-dirty .branch-action-icon,
.branch-action-state-unstable .branch-action-icon,
.branch-action-state-unknown .branch-action-icon {
  background-color: #f9e2af !important;
  color: #fff !important;
}

.text-shadow-light,
.branch-group-name,
.branch-summary {
  color: #1e1e2e !important;
  text-shadow: none !important;
}

.branch-a-b-count .meter {
  background-color: #f9e2af !important;
}

.more-branches,
.branch-group-heading,
.branch-infobar,
.branch-name {
  border-color: #6c7086 !important;
  background-color: #181825 !important;
}

.State,
.State:visited {
  color: #fff !important;
}

.State--red {
  background-color: #f38ba8 !important;
  color: #1e1e2e !important;
}

.State--green {
  background-color: #a6e3a1 !important;
  color: #1e1e2e !important;
}

.select-menu-filters {
  background-color: #313244 !important;
  color: #bac2de !important;
}

.js-select-menu-tab {
  background-color: #585b70 !important;
  color: #bac2de !important;
}

.select-menu-tabs a.selected,
.select-menu-tab-nav.selected {
  background-color: #6c7086 !important;
  color: #1e1e2e !important;
}

.signed-commit-header {
  background-color: #1e1e2e !important;
}

.build-status-item {
  background-color: #585b70 !important;
  color: #bac2de !important;
}

.build-status-item .build-status-details {
  color: #89b4fa !important;
}

.capped-card h3 {
  background-color: #585b70 !important;
}

.capped-card h3 a {
  color: #bac2de !important;
}

.capped-card-content {
  background-color: #1e1e2e !important;
}

.capped-list th {
  background-color: #313244 !important;
  color: #bac2de !important;
}

.capped-list tr:nth-child(2n) {
  background-color: #181825 !important;
}

.commit,
.commit-meta,
.commit-icon .octicon,
.commit-group-title .octicon-git-commit {
  background-color: #1e1e2e !important;
}

.commit *,
.commit-meta *,
.commit-icon .octicon *,
.commit-group-title .octicon-git-commit * {
  border-color: #6c7086 !important;
}

.commit-author {
  color: #1e1e2e !important;
}

.commit-author-section {
  color: #1e1e2e !important;
}

.commit-meta {
  color: #6c7086 !important;
}

.commit-meta .sha-block {
  color: #6c7086 !important;
}

.commit-meta .sha-block .sha {
  color: #1e1e2e !important;
}

.commit-ref,
code.commit-sha {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.commit-ref .user,
code.commit-sha .user {
  color: #89dceb !important;
}

.commit-branches *,
.commit-tease,
.commit-title {
  background-color: rgba(190, 255, 255, 0.2) !important;
  border: none !important;
}

.commit-branches * *,
.commit-tease *,
.commit-title * {
  color: #bac2de !important;
}

.commit-tease-contributors {
  background-color: #181825 !important;
}

div.commit-branches,
div.commit.full-commit p.commit-title,
qul.branches-list {
  background-color: #181825 !important;
  color: #bac2de !important;
}

div.commit-branches *,
div.commit.full-commit p.commit-title *,
qul.branches-list * {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.commit-meta {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

.commits-listing:before {
  background-color: #181825 !important;
}

.full-commit {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
}

.full-commit * {
  text-shadow: none !important;
}

.commit-desc pre {
  background-color: transparent !important;
  color: #1e1e2e !important;
}

.commit.table-list-item {
  border-color: #181825 !important;
}

.commit-meta.commit-author-section {
  background-color: transparent !important;
  color: #1e1e2e !important;
}

.table-list-cell .commit-title {
  background-color: transparent !important;
  color: #1e1e2e !important;
}

.completeness-indicator-success {
  background-color: #a6e3a1 !important;
}

.completeness-indicator-problem {
  background-color: #f9e2af !important;
  color: #fff !important;
}

.copyable-terminal {
  background-color: #181825 !important;
}

.blankslate {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.comment-form-head.tabnav {
  background-color: #1e1e2e !important;
}

.conversation-list-heading .inner {
  background-color: #1e1e2e !important;
}

.discussion-item-closed .discussion-item-icon {
  background-color: #f38ba8 !important;
  color: #bac2de !important;
}

.discussion-item-icon {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.discussion-item-icon.octicon {
  color: #bac2de !important;
}

.discussion-item-entity,
.discussion-item .renamed-was,
.discussion-item .renamed-is {
  color: #bac2de !important;
}

.discussion-timeline:before {
  background-color: #7f849c !important;
}

.discussion-timeline-actions {
  background-color: #1e1e2e !important;
}

.drag-and-drop {
  background-color: #181825 !important;
}

.new-discussion-timeline .closed-banner {
  background-color: #7f849c !important;
  border-color: #1e1e2e !important;
}

.timeline-comment {
  background-color: #1e1e2e !important;
  border-color: #6c7086 !important;
}

.timeline-comment-header {
  background-color: #181825 !important;
}

.timeline-comment-wrapper {
  border-color: #1e1e2e !important;
}

.donut-chart > .pending {
  fill: #f9e2af !important;
}

.dropdown-divider {
  background-color: #7f849c !important;
}

.dropdown-item {
  color: #1e1e2e !important;
}

.dropdown-item:hover {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.dropdown-menu {
  background-color: #585b70 !important;
  color: #bac2de !important;
  border-color: #7f849c !important;
}

.files * {
  color: #1e1e2e !important;
}

.files tbody tr {
  border-color: #181825 !important;
}

.files tbody tr:nth-child(even) {
  background-color: #00323f !important;
}

.files tbody tr:nth-child(odd) {
  background-color: #1e1e2e !important;
}

.files tbody tr:hover * {
  background-color: #585b70 !important;
}

.btn {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
  color: #bac2de !important;
}

.btn:hover {
  background-color: #313244 !important;
}

.btn-primary,
.issues-listing .btn-primary {
  background-color: #a6e3a1 !important;
  background-image: linear-gradient(#a6e3a1, #424d00) !important;
  color: #000 !important;
  filter: opacity(62.5%);
}

.entry-title a {
  color: #89b4fa !important;
}

.Header {
  background-color: #313244 !important;
  border-bottom-color: #6c7086 !important;
}

.Header a {
  color: #bac2de !important;
}

.lang {
  color: #bac2de !important;
}

.reponav-item,
.pagehead-tabs-item {
  background-color: #181825 !important;
  border-color: transparent !important;
  color: #1e1e2e !important;
}

.reponav-item:visited,
.pagehead-tabs-item:visited {
  color: #1e1e2e !important;
}

.reponav-item.selected,
.pagehead-tabs-item.selected {
  background-color: #1e1e2e !important;
  border-color: #f38ba8 #585b70 transparent !important;
}

.site-footer-links * {
  color: #1e1e2e !important;
}

.Box-row--focus-gray.navigation-focus {
  background-color: #313244 !important;
  color: #bac2de !important;
}

.js-directory-link {
  color: #89b4fa !important;
}

.js-site-search-form input,
.js-chromeless-input-container {
  background-color: #1e1e2e !important;
  border-color: #6c7086 !important;
}

a.label {
  color: #000 !important;
  filter: opacity(75%);
}

.notifications-list a {
  color: #1e1e2e !important;
}

.notifications-list li {
  background-color: #1e1e2e !important;
}

.octicon-repo {
  color: #bac2de !important;
}

.type-icon-state-closed {
  color: rgba(255, 54, 43, 0.65) !important;
}

.type-icon-state-merged {
  color: #b4befe !important;
}

.type-icon-state-open {
  color: rgba(205, 212, 0, 0.65) !important;
}

.octicon-alert {
  color: #fff !important;
}

.octicon-x {
  color: #f38ba8 !important;
}

.octicon-check {
  color: #a6e3a1 !important;
}

.octicon-primitive-dot {
  color: #f9e2af !important;
}

.octicon-clippy {
  color: #bac2de !important;
}

.octicon-diff {
  color: #fff !important;
}

.octicon-markdown {
  color: #6c7086 !important;
}

.orghead {
  background-color: #181825 !important;
  border-color: #7f849c !important;
  border-bottom: 0px !important;
  color: #bac2de !important;
}

.org-name {
  color: #bac2de !important;
}

.pagehead.orghead {
  background-color: #181825 !important;
}

.outline-box-highlighted {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.pagination .current {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.pagination .disabled {
  background-color: #181825 !important;
  color: #6c7086 !important;
}

.pagination .disabled:hover {
  background-color: #181825 !important;
}

.pagination .gap {
  background-color: #181825 !important;
  color: #6c7086 !important;
}

.pagination a {
  background-color: #181825 !important;
  border-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

.pagination a:hover {
  background-color: #6c7086 !important;
  color: #1e1e2e !important;
}

.empty-cell,
.diffbar {
  background-color: #1e1e2e !important;
}

.merge-status-item {
  background-color: #585b70 !important;
}

.merge-message {
  background-color: #313244 !important;
}

.pr-toolbar {
  background-color: #1e1e2e !important;
}

.review-thread-reply {
  background-color: #181825 !important;
}

.review-thread-reply .inline-comment-form {
  background-color: #1e1e2e !important;
}

.merged.octicon,
.octicon-git-merge {
  color: #b4befe !important;
}

.uploaded-files {
  background-color: #1e1e2e !important;
}

.upload-progress {
  background-color: #181825 !important;
  box-shadow: 1px 0px 0px #181825 inset;
}

#readme .plain {
  background-color: #1e1e2e !important;
}

.markdown-body,
.markdown-body table * {
  background-color: #1e1e2e !important;
  border-color: #7f849c !important;
  color: #1e1e2e !important;
}

.markdown-body a,
.markdown-body table * a {
  color: #89b4fa !important;
}

.markdown-body code,
.markdown-body table * code,
.markdown-body pre,
.markdown-body table * pre {
  background-color: #181825 !important;
}

.markdown-body hr,
.markdown-body table * hr {
  background-color: #6c7086 !important;
}

.markdown-body img,
.markdown-body table * img {
  background-color: #1e1e2e !important;
}

.task-list-item.hovered {
  background-color: #181825 !important;
}

.range-editor {
  background-color: #181825 !important;
}

.compare-pr-placeholder {
  background-color: #313244 !important;
}

ul.comparison-list > li.title {
  background-color: #585b70 !important;
}

ul.comparison-list {
  background-color: #313244 !important;
}

.repository-description {
  color: #1e1e2e !important;
}

#repository-container-header {
  background-color: #1e1e2e !important;
}

.file-content {
  background-color: #181825 !important;
}

.repository-meta .edit-repository-meta label {
  color: #1e1e2e !important;
}

.pagehead.repohead {
  background-color: #181825 !important;
}

.repository-content .RecentBranches {
  background-color: #181825 !important;
  border-color: #7f849c !important;
}

.repohead-details-container a {
  color: #1e1e2e !important;
}

.select-menu-modal {
  border-color: #1e1e2e !important;
}

.select-menu-modal * {
  color: #1e1e2e !important;
}

.select-menu-header,
.select-menu-header * {
  background-color: #181825 !important;
  color: #bac2de !important;
  text-shadow: none !important;
}

.select-menu-item {
  background-color: #1e1e2e !important;
}

.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus.selected,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item-text.navigation-focus {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.repository-sidebar {
  background-color: #1e1e2e !important;
}

.thread-subscription-status {
  background-color: #1e1e2e !important;
}

.sunken-menu {
  background-image: linear-gradient(to right, #181825 0%, #1e1e2e 8px) !important;
  box-shadow: 1px 0px 0px #181825 inset;
}

.sunken-menu:before {
  background-image: linear-gradient(#1e1e2e, transparent) !important;
}

.sunken-menu:after {
  background-image: linear-gradient(transparent, #1e1e2e) !important;
}

.sunken-menu-item {
  border-color: #1e1e2e !important;
}

.sunken-menu-item.selected {
  background-color: #1e1e2e !important;
  border-color: #585b70 !important;
  color: #bac2de !important;
}

.sunken-menu-item.selected:after {
  background-color: #fab387 !important;
}

.sunken-menu-separator:before {
  background-image: linear-gradient(to right, #181825 70%, #1e1e2e 100%) !important;
}

.state {
  color: #bac2de !important;
}

.state-closed {
  background-color: #f38ba8 !important;
}

.state-open {
  background-color: #a6e3a1 !important;
}

.subnav-item {
  color: #1e1e2e !important;
}

.subnav-item:hover {
  background-color: #313244 !important;
}

.subnav-item:visited {
  color: #1e1e2e !important;
}

.subnav-item.selected {
  background-color: #181825 !important;
}

.subnav-links a:hover {
  background-color: #181825 !important;
}

.subnav-search input {
  border-color: #6c7086 !important;
}

.right .tabnav-extra {
  color: #6c7086 !important;
}

a.tabnav-tab,
.tabnav-tab {
  border-color: transparent !important;
  color: #6c7086 !important;
}

a.tabnav-tab.selected,
.tabnav-tab.selected {
  background-color: #1e1e2e !important;
  background-image: linear-gradient(#181825, #1e1e2e) !important;
  border-color: #7f849c !important;
  color: #bac2de !important;
}

.table-list tr,
.table-list li {
  background-color: #1e1e2e !important;
}

.table-list tr:hover,
.table-list li:hover {
  background-color: #585b70 !important;
}

.table-list-header {
  background-color: #181825 !important;
}

.text-pending {
  color: #f9e2af !important;
}

.text-pending .octicon-primitive-dot {
  color: #f9e2af !important;
}

.text-red {
  color: #f38ba8 !important;
}

.timeline-commits .commit-meta {
  background-color: #1e1e2e !important;
}

.timeline-commits .commit-meta .commit-id {
  color: #6c7086 !important;
}

.topic-tag.topic-tag-link {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

.underline-nav-item {
  color: #1e1e2e !important;
}

.underline-nav-item.selected {
  border-bottom-color: #f38ba8 !important;
  color: #1e1e2e !important;
}

.user-profile-nav {
  background-color: #181825 !important;
  border-color: #7f849c !important;
}

.user-profile-sticky-bar:after {
  background-color: #181825 !important;
  border-color: #7f849c !important;
}

.graphs .area {
  fill: #a6e3a1;
}

.summary-stats li .num {
  color: #bac2de !important;
}

.viz {
  background-color: #313244 !important;
}

.facebox-popup {
  color: #1e1e2e !important;
  background-color: #1e1e2e !important;
}

.facebox-popup .octicon {
  color: #fff !important;
}

.facebox-popup .owner-select-target {
  color: #1e1e2e !important;
  background-color: #181825 !important;
}

.facebox-popup .owner-select-target:hover {
  background-color: #6c7086 !important;
}

.suggester {
  background-color: #585b70 !important;
}

.suggester li.navigation-focus {
  background-color: #6c7086 !important;
}

.menu {
  background-color: #181825 !important;
}

.menu-item.selected {
  background-color: #585b70 !important;
}

.menu-item:hover {
  background-color: #6c7086 !important;
}

.Box {
  background-color: #1e1e2e !important;
}

.Box-header {
  background-color: #181825 !important;
}

svg > * text {
  color: #1e1e2e !important;
  fill: #1e1e2e !important;
}

.insertions {
  color: #a6e3a1 !important;
}

.deletions {
  color: #f38ba8 !important;
}

.sfbgg {
  background-color: #181825 !important;
}

.sbib_a {
  background: linear-gradient(to bottom, #181825, #1e1e2e) !important;
}

input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}

#lst-ib,
.sbsb_a {
  background-color: #1e1e2e !important;
}

.kpbb {
  background-image: linear-gradient(to bottom, #59a9e1, #89b4fa) !important;
}

#hdtbSum {
  background-color: #1e1e2e !important;
}

#hdtbMenus.hdtb-td-o {
  background-color: #1e1e2e !important;
}

#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #1e1e2e, #181825) !important;
}

#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #181825, #1e1e2e) !important;
}

#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #1e1e2e, #181825) !important;
}

#appbar {
  background-color: #1e1e2e !important;
}

cite {
  color: #a6e3a1 !important;
}

.ab_dropdown {
  background-color: #1e1e2e !important;
}

div.crp {
  background-color: #1e1e2e !important;
}

#fbar {
  background-color: #181825 !important;
}

tr.Even {
  background-color: #181825 !important;
}

.BigQuote {
  background-color: #181825 !important;
  color: #fab387 !important;
}

.Cat1HL {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.Cat2HL {
  background-color: #585b70 !important;
}

.Cat3HL {
  background-color: #313244 !important;
}

.FeatureByline {
  background-color: #181825 !important;
  border: none !important;
}

.Headline {
  background-color: #585b70 !important;
}

.QuotedText {
  color: #b4befe !important;
}

DIV.GAByline {
  background-color: #181825 !important;
  border: none !important;
}

table.OddEven tr:nth-child(even) {
  background-color: #585b70 !important;
}

table.OddEven tr:nth-child(odd) {
  background-color: #1e1e2e !important;
}

DIV.CommentBox {
  border-color: #181825 !important;
}

DIV.CommentBox P.CommentTitle {
  background-color: #585b70 !important;
}

#menu,
.topnav-container {
  background-color: #181825 !important;
}

.navmenu ul {
  background-color: #181825 !important;
}

body * {
  border-color: #585b70 !important;
}

#content {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

#mw-head,
#mw-panel {
  background-color: #181825 !important;
  color: #bac2de !important;
}

#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}

#mw-head {
  background-color: #181825 !important;
  background-image: linear-gradient(to bottom, #1e1e2e, #181825) !important;
}

#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #1e1e2e, #181825) !important;
}

div.vectorTabs {
  background-image: linear-gradient(to bottom, #1e1e2e, #181825) !important;
}

div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #1e1e2e, #181825) !important;
}

div.vectorTabs ul li {
  background-color: #181825 !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}

div.vectorTabs span {
  background-color: #181825 !important;
  background-image: linear-gradient(to bottom, #1e1e2e, #181825) !important;
}

div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #181825, #1e1e2e) !important;
}

.mw-wiki-logo {
  filter: opacity(50%);
}

div#simpleSearch #searchInput {
  background-color: #1e1e2e !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}

.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #181825 !important;
  border-color: #585b70 !important;
  color: #bac2de !important;
}

.catlinks {
  background-color: #181825 !important;
  border-color: #585b70 !important;
  color: #bac2de !important;
}

.navbox {
  background-color: #181825 !important;
  border-color: #585b70 !important;
  color: #bac2de !important;
}

.navbox .th,
.navbox .navbox-title {
  background-color: #585b70 !important;
}

.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #313244 !important;
}

.navbox-even {
  background-color: #1e1e2e !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #585b70 !important;
  color: #bac2de !important;
}

code {
  background-color: #585b70 !important;
  border-color: #585b70 !important;
  color: #bac2de !important;
}

div.thumbinner {
  background-color: #181825 !important;
  border-color: #585b70 !important;
}

img {
  filter: opacity(75%);
}

img.thumbimage {
  border-color: #585b70 !important;
}

.mw-body .external {
  opacity: 0.5 !important;
}

table.wikitable {
  background-color: #1e1e2e !important;
  border-color: #585b70 !important;
  color: #1e1e2e !important;
}

table.wikitable > * > tr > th {
  background-color: #181825 !important;
}

table {
  background-color: #1e1e2e !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #fab387 !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #1e1e2e !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #1e1e2e !important;
}

.title a {
  color: #1e1e2e !important;
}

.title a:visited {
  color: #6c7086 !important;
}

a.storylink {
  color: #bac2de !important;
  font-weight: bold;
}

.sitestr {
  color: #89b4fa !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #1e1e2e !important;
}

#hnmain .comhead {
  color: #bac2de !important;
}

#hnmain .c00 {
  color: #1e1e2e !important;
}

#hnmain a.hnuser {
  color: #f9e2af !important;
}

#hnmain span.age a {
  color: #6c7086 !important;
}

.cdd {
  color: rgba(255, 54, 43, 0.65) !important;
}

.comment i {
  color: #b4befe !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #1e1e2e !important;
}

#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #fab387 !important;
}

div#page div#header {
  background-color: #1e1e2e !important;
}

div#page div#header a {
  color: #b4befe !important;
}

.post {
  background-color: #1e1e2e !important;
}

.post * {
  overflow: auto !important;
}

.post h2 {
  background-color: #181825 !important;
}

.post h2 a {
  color: #bac2de !important;
}

.post div.entry {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

.post div.entry blockquote {
  background-color: #181825 !important;
}

.post div.entry kbd {
  background-color: #181825 !important;
  border-color: #6c7086 !important;
  box-shadow: none !important;
  color: #bac2de !important;
  text-shadow: 0px 1px 0px #000 !important;
}

.post pre.mode-line {
  overflow: visible !important;
}

#sr-header-area {
  background-color: #181825 !important;
}

#sr-header-area .srdrop .selected {
  color: #1e1e2e !important;
}

#sr-header-area #sr-more-link {
  background-color: #181825 !important;
}

.link.promotedlink.promoted {
  background-color: #181825 !important;
}

.link .usertext .md {
  background-color: #181825 !important;
}

.linkinfo {
  background-color: #181825 !important;
}

.linklisting .odd {
  background-color: #181825 !important;
}

.thing .title {
  color: #1e1e2e !important;
}

div.md {
  color: #1e1e2e !important;
}

body.comment {
  background-color: #1e1e2e !important;
}

.commentarea > .usertext {
  background-color: #1e1e2e !important;
}

.commentarea .menuarea {
  background-color: #1e1e2e !important;
}

.comments-page .panestack-title {
  background-color: #1e1e2e !important;
}

.listing-chooser {
  background-color: #1e1e2e !important;
}

.listing-chooser .intro {
  background-color: #6c7086 !important;
  color: #bac2de !important;
}

.listing-chooser .grippy {
  background-color: #1e1e2e !important;
}

.listing-chooser .grippy:after {
  border-right: none !important;
}

.listing-chooser li {
  background-color: #181825 !important;
}

.listing-chooser li.selected {
  background-color: #6c7086 !important;
  box-shadow: none;
}

.listing-chooser li a {
  color: #1e1e2e !important;
}

.listing-chooser li a .description {
  color: #bac2de !important;
}

.titlebox {
  background-color: #181825 !important;
}

.titlebox form.toggle {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

.side .usertext-body .md {
  background-color: #181825 !important;
}

.side {
  background-color: #181825 !important;
}

.sidebox .spacer {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.tabmenu li a {
  background-color: #181825 !important;
}

#header-bottom-right {
  background-color: #181825 !important;
}

.morelink .nub {
  background-color: #181825 !important;
}

* {
  border-color: #7f849c !important;
}

a {
  color: #89b4fa !important;
}

a:visited {
  color: #b4befe !important;
}

body {
  background-color: #1e1e2e !important;
  color: #1e1e2e !important;
}

html {
  background-color: #1e1e2e !important;
}

tr:hover,
blockquote,
pre {
  background-color: #181825 !important;
  color: #1e1e2e !important;
}

#toolMenu li {
  background-color: #1e1e2e !important;
}

.navPanel,
.navIntraTool {
  background-color: #1e1e2e !important;
}

.instruction,
.sakaiCopyrightInfo {
  color: #1e1e2e !important;
}

.listHier th {
  background-color: #585b70 !important;
}

ul.makeMenu {
  background-color: #585b70 !important;
  border: 1px solid #585b70 !important;
}

tr.external {
  background-color: #585b70 !important;
}

hr {
  background-color: #585b70 !important;
  color: #585b70 !important;
}

.bounty-indicator,
.bounty-indicator-tab {
  background-color: #b4befe !important;
}

.bottom-notice {
  background-color: #181825 !important;
}

.comments-link {
  color: #a6e3a1 !important;
}

.page-numbers {
  background-color: #a6e3a1 !important;
  color: #a6adc8 !important;
}

.page-numbers.current {
  background-color: #fab387 !important;
  color: #1e1e2e !important;
}

.post-menu a {
  color: #b4befe !important;
}

.question-status {
  background-color: #181825 !important;
}

.bg-black-050 {
  background-color: transparent !important;
}

.val-info {
  background-color: transparent !important;
  color: #1e1e2e !important;
}

.s-label {
  color: #1e1e2e !important;
}

pre code {
  background-color: #181825 !important;
  color: #bac2de !important;
}

pre code .atn {
  color: #89b4fa !important;
}

pre code .atv {
  color: #89dceb !important;
}

pre code .com {
  color: #6c7086 !important;
}

pre code .kwd {
  color: #a6e3a1 !important;
}

pre code .lit {
  color: #cba6f7 !important;
}

pre code .pln,
pre code .pun {
  color: #1e1e2e !important;
}

pre code .str {
  color: #89dceb !important;
}

pre code .tag {
  color: #a6e3a1 !important;
}

pre code .typ {
  color: #f9e2af !important;
}

#footer {
  background-color: #313244 !important;
  color: #1e1e2e !important;
}

#footer #footer-sites th {
  color: #bac2de !important;
}

.top-footer-links a {
  color: #a6e3a1 !important;
}

.so-header {
  background-color: #585b70 !important;
  color: #bac2de !important;
}

.so-header a {
  color: #a6e3a1 !important;
}

.so-header .navigation .-list .-item :hover {
  background-color: #a6e3a1 !important;
  color: #cdd6f4 !important;
}

.topbar-dialog {
  background-color: #1e1e2e !important;
  box-shadow: #6c7086 5px 5px 5px;
}

.topbar-dialog .current-site-container {
  background-color: #1e1e2e !important;
}

.topbar-dialog .header {
  background-color: #181825 !important;
}

.topbar-dialog .header a {
  color: #bac2de !important;
}

.topbar-dialog .site-link {
  color: #bac2de !important;
}

#header {
  background-color: #585b70 !important;
}

#question-header .question-hyperlink {
  color: #bac2de !important;
}

#hlogo a {
  filter: opacity(75%);
}

.new-post-activity {
  background-color: #181825 !important;
}

.tagged-interesting {
  background-color: #585b70 !important;
}

div.answered-accepted {
  background-color: #a6e3a1 !important;
  color: #a6adc8 !important;
}

div.answered-accepted .mini-counts {
  background-color: #a6e3a1 !important;
  color: #a6adc8 !important;
}

.answered .mini-counts span {
  color: #a6e3a1 !important;
}

.unanswered .mini-counts span {
  color: #1e1e2e !important;
}

#hot-network-questions a {
  color: #89dceb !important;
}

#hot-network-questions h4 a.js-gps-track {
  color: #bac2de !important;
}

#sidebar .community-bulletin .bulletin-item-content a {
  color: #bac2de !important;
}

#sidebar .module.community-bulletin {
  background-color: #181825 !important;
  color: #bac2de !important;
}

#sidebar .question-hyperlink {
  color: #89dceb !important;
}

.newuser {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.label-key {
  color: #1e1e2e !important;
}

.label-key b {
  color: #bac2de !important;
}

#h-chat-link {
  color: #bac2de !important;
}

.ad502-room {
  background-color: #181825 !important;
  box-shadow: #6c7086 0px 1px 3px;
  color: #bac2de !important;
}

#tabs a {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #1e1e2e, #181825);
  color: #bac2de !important;
}

#tabs a.youarehere {
  background-image: linear-gradient(to bottom, #fab387, #1e1e2e);
  color: #cdd6f4 !important;
}

.post-tag {
  background-color: #6c7086 !important;
  color: #1e1e2e !important;
}

.post-tag::before {
  background-color: #1e1e2e !important;
}

a.comment-user.owner {
  background-color: #a6e3a1 !important;
  color: #a6adc8 !important;
}

.post-signature {
  background-color: #181825 !important;
  color: #bac2de !important;
}

.post-signature a {
  color: #89dceb !important;
}

.post-signature.owner .user-info .user-details a {
  color: #a6e3a1 !important;
}

.post-signature span.relativetime {
  color: #bac2de !important;
}

.vote {
  background-color: #181825 !important;
}

.vote .star-off {
  filter: opacity(75%);
}

.vote .star-on {
  filter: opacity(50%) !important;
}

.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%);
}

.answer-votes {
  background-color: #6c7086 !important;
  color: #1e1e2e !important;
}

.chtext {
  background-color: #1e1e2e !important;
  color: #cdd6f4 !important;
}

.ctxt {
  background-color: #181825 !important;
  color: #cdd6f4 !important;
}

.dataset-letters_new.ReactVirtualized__Grid__innerScrollContainer .thread__header.only-new-toolbar.thread.letter__head.new-menu.content-header {
  background-color: #313244 !important;
  color: #cdd6f4 !important;
}

.letter__attach-list.letter__body {
  background-color: #181825 !important;
  color: #cdd6f4 !important;
}

.layout__letter-content {
  background-color: #1e1e2e !important;
  color: #cdd6f4 !important;
}

.tooltip-0-2-19 {
  background-color: #1e1e2e !important;
  color: #bac2de !important;
}

.small-0-2-35 {
  background-color: #a6adc8 !important;
}

.main-wrapper {
  background: #1e1e2e !important;
}

.unified-theme {
  background: #313244 !important;
}

._header_81knqv, ._header_y99ls5, ._docs_1ph5zq, ._footer_hautyr, ._active_y1a82m,
._hero-button_slqo1c, ._yellow-button_g91299, ._button_g91299 {
  background: #181825 !important;
  /* background-color: $bg !important; */
}

._crate-info_1ph5zq, ._main_17u5gr, ._crate-downloads_1ph5zq {
  background: #1e1e2e !important;
  /* background-color: $bg !important; */
}

input[type=checkbox] {
  color: #6c7086 !important;
  background-color: #313244 !important;
}

input[type=checkbox]:checked {
  color: #313244 !important;
  background-color: #6c7086 !important;
}

/*# sourceMappingURL=style.css.map */
